.forecast{
    color: white;
    background-color: #000000c2;
    display: flex;
    flex-direction: column;
    border-radius: 30px; 
    align-items: center;
}
  
.forecast-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    padding: 2em;
}

.forecast-card{
    margin-left: 1em;
}

@media (max-width: 375px){
    .forecast-cards{
        flex: 1 1 auto;
    }
}
    
